/** Globals  **/

* {
    margin: 0;
    padding: 0;
  }
  
  *, *:before, *:after{
  
      box-sizing: inherit;
  
  }
  
  html,
  body {
  
      height: 100vh;
      font-size: 18px;
      font-family: 'Josefin Sans', sans-serif;
  
  }
  
  body{
     
    background:url(../images/bg-desktop-light.jpg);  
    background-color: hsl(0, 0%, 98%);
    background-repeat: no-repeat;
    height: 100vh;
  /*  Die Body Masse für eine klare Richtlinie innerhalb aller Browser Versionen */
    padding: 0px;
    margin: 0px;
    
  }

.body__darkmode{

    background:url(../images/bg-desktop-dark.jpg);
    background-color: black;
    background-repeat: no-repeat;
    height: 100vh;
/*  Die Body Masse für eine klare Richtlinie innerhalb aller Browser Versionen */
    padding: 0px;
    margin: 0px;
    .App_title__moon{
        visibility: hidden;
    }
    .App_title__sun{
        visibility: visible;
        display: inline-block;
    }
}

/*  Partials Import  */

@import "colors";

/*  Universal Extends  */

%BasicPosition {
    display: inline-block;
    position: relative;
  }
  
/*  App Container  */

p{
    color: $fontcolor;
}

#container{

    display: block;
    position: relative;
    width: 80%;
    margin: auto auto;
    
}

/*  Title - Block  */

.App_title{
    
        position: relative;
        display: inline-flex;
        align-items: flex-end;
        justify-content: space-between;
        height: 8rem;
        width: 100%; 
     
    &__moon{

        @extend %BasicPosition;
        padding-bottom: 35px;
        cursor: pointer;

      }
      
    &__sun{

        position: relative;
        padding-bottom: 35px;
        display: none;
        cursor: pointer;

    }

    p{

        font-size: 2.5rem;
        font-weight: 400;
        position: relative;
        padding-bottom: 20px;
        color: $titlecolor;

    }
}

/* Input_newtodo */

.Input__{

    &field{

        position: relative;

        display: flex;
        justify-content: center;
        
        width: 100%;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;  
        margin-bottom: 2rem;

        background-color: white;
   
    }

    &field--borderradius{

        border-radius: 15px;

    }
    
    &input-field{

        font-size: 1rem;
        @extend %BasicPosition;
        margin-left: 4%;
        margin-right: 0%;
        width: 80%;
         
        border: none;
        outline: none;
       
        
    }
    &btn{
        @extend .list__btn;
    }

    &btn--gradientdark{

        background: hsl(235, 24%, 19%)!important;   
        position: absolute;
        top: 0.1rem;
        bottom: 0.1rem;
        left: 0.1rem;
        right: 0.1rem;
        z-index: 1;
        border-radius: inherit;

    }

    &btn--gradient{

        @extend .list__btn--gradient;
    }

    &marker--hidden{
        visibility: hidden;
    }

}

input[type="text"]{

    font-family: 'Josefin Sans', sans-serif;
    color: $fontcolor;
  }

/*  TODO List */

.circle__spinner{

    position: relative;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    animation: load3 1.4s infinite linear;
    background: linear-gradient(to right, #5fc8f1 42%, #3376f3 82%);
    
    }   

    .circle__spinner:before {

        width: 50%;
        height: 50%;
        background: #ffffff;
        border-radius: 100% 0% 0% 0%;
        position: absolute;
        top: 0;
        left: 0;
        content: '';

      }
      .circle__spinner:after {

        background: white;
        width: 75%;
        height: 75%;
        border-radius: 100%;
        content: '';
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

      }

      @keyframes load3 {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
      
.list__{

    &loadinganimation{

        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center; 
        width: 100%;
        height: 200px;
        z-index: 1;

    }

    &field{

        @extend .Input__field;
        
    }

    &field--list-first{

        margin-bottom: 0;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;          
        border-bottom: 1px rgb(194, 193, 193) solid;
       
    }

    &field--listing{

        margin-bottom: 0;   
        border-bottom: 1px rgb(194, 193, 193) solid;
        
    }

    &text--center{

        display: flex;
        align-items: center;
        width: 84.52%;
    
    }

    &text{

        font-size: 0.8rem;
        word-break: break-all;
        width: 100%;
        margin-left: 5%;
         
    }

    &text--finished{

        text-decoration:line-through;

    }

    &marker{

        position: relative;
        left: 0%;
        color: $fontcolor;
        cursor: pointer;
        
    }

/*  button  */

    &btn{
    
        height: 1.6rem;
        width: 1.6rem;  
        background-color: transparent;
        border: 1px grey solid;
        border-radius: 50%; 
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    &btn--gradient{

        background-color: transparent;
        position: absolute;
        top: 0.05rem;
        bottom: 0.05rem;
        left: 0.05rem;
        right: 0.05rem;    
        border-radius: inherit;
        cursor: pointer;
    
    }

    &btn--gradientdark{

        background: hsl(235, 24%, 19%);   
        position: absolute;
        top: 0.1rem;
        bottom: 0.1rem;
        left: 0.1rem;
        right: 0.1rem;
        z-index: 1;
        border-radius: inherit;
        cursor: pointer;

    }

    &btn:hover{

        height: 1.7rem;
        width: 1.7rem;
        background-image: linear-gradient(to right, rgb(36, 240, 247),rgb(37, 118, 223));
        border: 0px grey solid;
        border-radius: 50%; 
        position: relative;
       
        .list__btn--gradient{
    
            background: white;   
            position: absolute;
            top: 0.1rem;
            bottom: 0.1rem;
            left: 0.1rem;
            right: 0.1rem;
            z-index: 1;
            border-radius: inherit;
        
        }

        .list__btn--gradientdark{

            background: hsl(235, 24%, 19%);   
            position: absolute;
            top: 0.1rem;
            bottom: 0.1rem;
            left: 0.1rem;
            right: 0.1rem;
            z-index: 1;
            border-radius: inherit;

        }
    }

    &btn--noborder{

        height: 1.711rem;
        width: 1.711rem;
        background-color:transparent;
        border-radius: 50%; 
        position: relative;
        
    }

    &btn--onclick{

        display: flex;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(to right, rgb(36, 240, 247),rgb(37, 118, 223));
        border-radius: inherit;
        position: absolute;
        top: 0rem;
        bottom: 0rem;
        left: 0rem;
        right: 0rem;
        z-index: 1;    
    
    }

    &btn--activ{

        color: rgb(255, 255, 255);
        font-size: 1rem;
        @extend %BasicPosition;
        
    }
}

/*  end - item */

.list__{

    &field--end{
    
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        
        display: inline-flex;
        justify-content: space-between;
        align-items: center;

    }

    &field--mobile{

        display: none;
        margin-bottom: 0px;
    }

    &textfirst{

        width: 30%;
        margin-right: 5%;

    }

    &textlast{

        width: 30%;    
        text-align: end;
        cursor: pointer; 

    }

    /*  end - item Status Anzeige */

    &text--info{

        @extend %BasicPosition;

    }

    &items-status{

        @extend %BasicPosition;
        left: 15px;
        
    }

    &items-status > p {
        
        cursor: context-menu;
       
    }

    &items-select{

        display: inline-flex;
        justify-content: space-around;
        position: relative;
       
    }

    &text-liststatus {
        
        cursor: pointer;

    }
    
    &text-liststatus:nth-child(2) {
        padding-left: 40px;
        padding-right: 40px;
    }

    &items-execute{

        @extend %BasicPosition;
        right: 15px; 

    }
    
}

/*  Footer */


.container__{

    &footer p{

        position: relative;
        text-align: center;
        font-size: 0.9rem;
        padding-top: 2rem;

    }

}

/*  Viewport Mobile Version */

@media (max-width: 675px){

    .list__{

        &field--end{

            margin-top: 1.5rem;
            border-radius: 15px;
            
        }

        &field--mobile{

            display: flex;
            justify-content: center;
            align-items: center;
           
            border-bottom-right-radius: 15px;
            border-bottom-left-radius: 15px;
            
        }

        &items-select{

            width: 70%;
            left: 15%;
            display: inline-flex;
            justify-content: space-around;

        }

        &items-status{

            display: none;

        }
        &items-execute{

            display: none;

        }
            
    }
}

@media (max-width: 440px){

    .list__text--center{

        width: 60%;
        margin-left: 10%;
        margin-right: 10%;
    
    }

    .Input__input-field{

        width: 60%;
        margin-left: 9%;
        margin-right: 10%;

    }
}

@media (max-width: 375px){

    body{

    // /images/bg-mobile-light.jpg
        background:url("../images/bg-mobile-light.jpg");
        background-repeat: no-repeat;
        background-size: 375px 300px;
        background-color: hsl(0, 0%, 98%);
    }

    .body__darkmode{

  //    background:url(./images/bg-mobile-dark.jpg);
        background:url("../images/bg-mobile-dark.jpg");
        background-repeat: no-repeat;
        background-size: 375px 300px;
        background-color: black;
        
    }
}
